@{
    ViewBag.Title = "Generate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generate database</h2>

Database generated from scratch! <br/>

@Html.ActionLink("return to Index", "Index", "ConfigDb", new { area = "Settings" }, null)
