@{
    ViewBag.Title = "Generate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    title</h2>
Data sample injected.

<br/>

@Html.ActionLink("return to Index", "Index", "ConfigDb", new { area = "Settings" }, null)
