/*----------------------------------------
    * Pseudo-Classes
----------------------------------------*/
.clearfix:after {
	clear:both;
	content:".";
	height:0;
	display:block;
	visibility:hidden
}

/*----------------------------------------
    * jFlickr
----------------------------------------*/
.jflickr-container {
	position:relative;
	padding-top:5px
}

.jflickr-container .jflickr-images {
	position:relative
}

.jflickr-container .jflickr-images a {
	display:block
}

.ie7 .jflickr-container .jflickr-images span {
	cursor:pointer;
	background-color:#000000
}

.jflickr-container .jflickr-images span {
	position:absolute;
	background-color:#000;
	background-color:rgb(0, 0, 0);
	background-image:url('../../../images/flickr-zoom.gif');
	background-color:rgba(0, 0, 0, 0.3);
	background-repeat:no-repeat;
	background-position:center center;
	zoom: 1;
	-moz-opacity:0;
	-webkit-opacity:0;
	opacity:0;
	filter:alpha(opacity=0);
	top:0;
	left:0;
	bottom:0;
	right:0
}

.jflickr-container .jflickr-images * {
	list-style:none;
	font-family:Arial,Tahoma,sans-serif;
	color:#fff;
	font-size:10px;
	font-style:normal;
	font-weight:400;
	text-decoration:none;
	background:#fff
}

.jflickr-container .jflickr-images .jflickr-image {
	position:relative;
	margin:0 10px 10px 0;
	float:left;
	overflow:hidden
}

.jflickr-image img {
	height:100%;
	position:relative;
	margin:0 auto;
	display:block
}

.jflickr-image {
	display:block;
}

.jflickr-container .tag {
	font-style:italic
}