@model Karvis.Domain.ViewModels.AboutUsViewModel

@{
    ViewBag.Title = "درباره ی کارویس";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ef-inner clearfix">
	                <h2>کارویس چیست ؟</h2>
	                <div class="divider"></div>
	                
	   <p>
        «کارویس» به معنی کار برای برنامه‌نویس است. ایده اولیه‌ی این سایت جمع‌آوری آگهی‌های
        استخدام برنامه‌نویس و دیگر مشاغل مرتبط با توسعه نرم‌افزار می‌باشد. فعلاً خودم، <a href="http://afsharm.com/">افشار محبی</a>، تنها کسی هستم که پشت این سایت قرار
        دارد. خوشحال می‌شوم نظرات و ایده‌های دیگر دوستان را راجع به «کارویس» بدانم.</p>
					
					<div class="divider-blank"></div>
					
					<h2>تیم ما</h2>
					<div class="divider"></div>
					
					<div class="inner-960 team col-height clearfix">		
						<div class="col1-2 bottom-40" style="height: 140px;">
							<div class="proj-img alignleft"><img src="images/content/av-m.jpg" alt="" style="visibility: visible; opacity: 1;"></div>
							<h3>افشار محبی</h3>
							<p class="auth">مدیر پروژه / مدیر عامل کارویس</p>
							<p> یک نوشته ی مثال </p>
						</div>
						
					<div class="col1-2 bottom-40" style="height: 140px;">
							<div class="proj-img alignleft"><img src="images/content/av-m.jpg" alt="" style="visibility: visible; opacity: 1;"></div>
							<h3>شاهین کیاست</h3>
							<p class="auth">توسعه گر کارویس</p>
							<p> یک نوشته ی مثال </p>
						</div>
					
                        		
					<div class="col1-2 bottom-40" style="height: 140px;">
							<div class="proj-img alignleft"><img src="images/content/av-m.jpg" alt="" style="visibility: visible; opacity: 1;"></div>
							<h3>مهتاب عبدی</h3>
							<p class="auth">هماهنگ کننده / مسئول تست</p>
							<p> یک نوشته ی مثال </p>
						</div>

                    </div>
					
	            </div>