@{
    ViewBag.Title = "Default data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Default data</h2>
default Data injected.
<br />
@Html.ActionLink("return to Index", "Index", "ConfigDb", new { area = "Settings" }, null)
