@{
    ViewBag.Title = "UpdateDatabase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Update Database</h2>
Database updated
<br />
@Html.ActionLink("return to Index", "Index", "ConfigDb", new { area = "Settings" }, null)
