@model Karvis.Domain.ViewModels.ContactUsViewModel

@{
    ViewBag.Title = "تماس با کارویس";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ef-inner clearfix">
	                <h2>تماس با ما</h2>
	                <div class="divider"></div>
	                برای تماس با ما از ایمیل ... استفاده بفرمایید.
	   
					
	
					
	            </div>