@model Karvis.Domain.ViewModels.JobDescriptionViewModel

@{
    ViewBag.Title = "جزییات شغل";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="ef-inner clearfix">
    <h2>@Model.JobSummery.Title</h2>
    <div class="divider"></div>
	                
    <h3>شرح</h3>
    <p>
        @Model.Description
    </p>
    <div class="divider"></div>
	              <h3>اطلاعات بازدید</h3>
    
    <div class="">
        
    </div>
    <div class="divider"></div>
	             	  	
			
					
</div>