@model Karvis.Domain.ViewModels.SearchViewModel

        <fieldset><legend>جستجو</legend>

        <form class="ef-contact1"  method="post" action="@Url.Action("Search")">
            <div class="one_third">
                <label>عنوان*</label> <input class="ef-name1 valid" type="text" name="name1">
            </div>
            <div class="one_third">
                <label>عنوان*</label> <input class="ef-name1 valid" type="text" name="name1">
                
            </div>
            <div class="one_third">
                <label>عنوان*</label> <input class="ef-name1 valid" type="text" name="name1">
                
            </div>
            <div class="send-wrap alignright">
                <div class="button">
                    <input class="send1" name="send1" type="submit" value="جستجو">
                </div>
            </div>
        </form>
        </fieldset>