          

@model Karvis.Domain.ViewModels.SearchResultViewModel

@{
    ViewBag.Title = "کارویس فهرست مشاغل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
            

 

 
<div class="ef-inner clearfix">
    <div style="float:right;">
    
        <h3>نتیجه ی جستجو</h3>
    </div>

    <div style="float:left;">
        <a href="#" id="btnShowSearch" class="ef-button ef-green"><span>جستجو</span></a>

    </div>
    <div class="clearfix"></div>
    <div id="search">
        @Html.Partial("Search",Model.SearchViewModel)

    </div>
    <div class="divider">
    </div>

    @Html.Partial("JobsGridView",Model.JobViewModel)

</div>

<script>
    
    $(function () {
        
        $('#btnShowSearch').click(function() {
            $("#search").show('flip');
        });

    });
</script>