@model Karvis.Domain.ViewModels.ExtractJobViewModel

@{
    Layout = null;
}

<form method="POST" action="@Url.Action("ExtractJobs")">
    
@Html.DropDownList("SelectedAdSource", Model.SearchSource)
    
    <input type="submit" value="استخراج"/>

</form>

