/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

#main-slider a:active,.post-slider a:active,.carousel a:active,#main-slider a:focus,.post-slider a:focus,.carousel a:focus  {
	outline: none;
} 
 
 
.slides,.flex-control-nav,.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none!important;
}

/* FlexSlider Necessary Styles
*********************************/

#main-slider .slides > li,.post-slider .slides > li,.carousel .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.slides img {
    max-width: 100%;
    display: block;
}

/* Clearfix for the .slides element */

div.flex-viewport:before,
ul.slides:before,
div.flex-viewport:after,
ul.slides:after {
	
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    width:0;
    height: 0;

}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* FlexSlider Default Theme
*********************************/
.flex-direction-nav {
	height: 0;
}

#main-slider .slides,.post-slider .slides,.carousel .slides {
    zoom: 1;
}

#main-slider .slides > li  {
    position: relative;
}